$_colorBlack: #222;
$_colorBlack-2:#666;
$_color-light-gray-1: #b2b2b2;
$_color-light-gray-2:#888;
$-color-light-gray-3:#f2f2f2;

$_color_border: #ffffff4d;
$_color_primary:#6c7ae0;
$_color_pink:#f74877;

$_color_white:#ffffffff;
